.lol{
    width: 70%;
}
.containerr img{
 width: 78px;
 text-align: left;
}
.text-color{
    color: #FABE4C;

}
.container-centure{
    text-align: center;
}

.card img{
    margin: 60px;
width: 243px;
height: 256px;
}
.containerr{
    background-color: thistle;
}
.btn img{
width: 24px;
}





.container {
    margin-bottom: 100px;
  
}

.carousel-item{
    padding: 20px 40px;
}



.categories h1{
    color: white;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;

}
.loll {
    width: 150px;
    height: 100px;
    background-color: red;
   
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;  
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
